.container
    width: 85%
    max-width: 1256px
    margin: auto

.col
    &__disg
        flex-basis: 32%
        max-width: 392px
    &-30
        flex-basis: 30%
    &-50
        width: 50%
.row
    display: flex
    align-items: flex-start
    justify-content: space-between
    &__team
        margin-top: 5.28rem

