@media screen and (max-width:1256px)
    html
        font-size: 12px
    .nav
        &__item
            margin-right: 1rem

    .request
        &__col
            &--line
                left: -114px
    .request__col__number--1
        top: 22%
        left: 48%

    .request__col__number--2
        top: 39%
        left: 65%

    .request__col__number--3
        left: 68%

    .request__col__number--4
        left: 56%


@media screen and (max-width:992px)
    
    .skroll
        &-up
            left: -13%
    .request__col--bg
        margin-right: 0
    .section
        &-title
            &__heading
                color: $light
    .nav
        display: none
    .hero
        &__instagram
            display: none
        &__content
            margin-left: 0

@media screen and (max-width:975px)
    main
        margin-bottom: -1%
    .mob__fantasy
        display: block
        padding-top: 0
        margin-bottom: -41%
    .mob__fantasy__title
        text-align: center
        color: $primary
        font-weight: normal
    .mob__fantasy__img
        margin: auto
    .swiper-button-p
        background: url(../img/fantasy/pr.svg) no-repeat center / cover
        background-color: $primary
        border-radius: 50%
        width: 10%
        height: 15%
        background-size: 30%
        top: 50%
        position: absolute
        z-index: 11
        left: 2%
    .swiper-button-n
        background: url(../img/fantasy/next.svg) no-repeat center / cover
        background-color: $primary
        border-radius: 50%
        width: 10%
        height: 15%
        background-size: 173%
        top: 50%
        position: absolute
        z-index: 11
        left: 88%
    .map
        &__footer
            order: 1
    .fantasy
        display: none
    .request
        display: none
    
    .disignt
        padding-top: 39%

    .client
        display: none
    .steps
        display: none
    .project
        padding-bottom: 98rem
    .control
        margin-top: -95rem
        &__col
            
        &__text
            &__video
                margin-bottom: 0

        &__policy
            margin: 0
        &__form
            padding-top: 5%
            flex-direction: column
            &--input
                border-bottom: 1px solid rgba(54, 54, 54, 0.3)
                font-size: 1.5rem
                color: $light
                
        &__button
            width: 100%
            order: 1
            margin-top: 62px
    .label
        &--video
            margin-top: 63px
            color: $light
    .control
        color: $light
        
    
    .row
        flex-direction: column
        align-items: center

    .bcg
        height: 100%
    .section
        // background-color: $dark
        &-title
            // color: $light
            &--primary
                color: $primary
           
        &__text
                color: $light
        
    .types
        padding-bottom: 0
        
        &__card
            margin-bottom: 4.29rem
    .card
        &__pricetag
            &--team
                max-width: 83.7%
        &__text
            
            &--team

    .col
        &-50
            margin-top: 35px
            width: 100%
            
            &--order
                margin-top: 25px
                padding: 0 5%
                display: block

    
    .team
        background-color: $dark
        padding-top: 40rem
        padding-bottom: 1%
    .footer
        background: $dark
        &__input
            
        &-wrap
            background-color: transparent
        &__button
            margin-top: 15px
            width: 100%
            margin: 0
            font-size: 1.5rem
        &__policy
            margin: 0
            margin-bottom: 45px
        &__col
            font-size: 25px
            &--2
                margin: 0
            &--1
                flex-wrap: wrap
                margin: 0
                
            &--11
                margin-bottom: 45px
                width: 100%
        &__form
            padding: 0
    .types
        &__card
            margin-bottom: 160px
        &__text
            display: none
    .project
        padding-bottom: 98rem
    .control
        margin-top: -96rem
        &__button
            width: 100%
            order: 1
            margin-top: 62px
    .steps
        display: none
    .skroll-up
        display: none
    .contacts
        &__phone
            margin-right: 0
            color: $light
            text-decoration: none
        &__button
            display: none

    .bcg
        height: 100%
        
    .title
        font-size: 1.64rem
    .hero
        &__title
            width: 100%
            max-width: 330px
        &__skroll-down
            display: none
        &__content
            min-width: 22.86rem
        &__text
            font-size: 1.29rem 
            margin-bottom: 2.28rem 
            width: 100%
            max-width: 330px

        &__button
            display: block
            min-width: 22.86rem  
            margin-bottom: 1.85rem

    .section
        // background-color: $dark
        &-title
            &__text
                text-align: left
                max-width: 53%
            &__word
                display: inline
                &::after
                    display: none
            &--primary
                text-align: left
                color: $primary

        
           
        &__text
                color: $light
    

    .col
        &-50
            margin-top: 35px
            width: 100%
            
            &--order
                margin-top: 25px
                padding: 0 5%
                display: block

@media screen and (max-width:768px)
    input::-webkit-input-placeholder
        color: $light 
    input::-moz-placeholder 
        color: $light
    .mob__fantasy
        display: block
    .header
        &-bottom
            display: none
    
    .team
        padding-top: 40rem
    .footer
        background: $dark
        &__map
            padding-bottom: 5rem
        &__input
            
        &-wrap
            background-color: transparent
        &__button
            margin-top: 15px
            width: 100%
            margin: 0
            font-size: 1.5rem
        &__policy
            margin: 0
            margin-bottom: 45px
        &__col
            font-size: 25px
            &--2
                margin: 0
            &--1
                flex-wrap: wrap
                margin: 0
                
            &--11
                margin-bottom: 45px
                width: 100%
        &__form
            padding: 0
    .types
        &__card
            margin-bottom: 160px
        &__text
            display: none
    .project
        padding-bottom: 98rem
    .control
        margin-top: -96rem
        &__button
            width: 100%
            order: 1
            margin-top: 62px
    .steps
        display: none
    .skroll-up
        display: none
    .contacts
        &__phone
            margin-right: 0
            color: $light
            text-decoration: none
        &__button
            display: none

    .bcg
        height: 100%
        
    .title
        font-size: 1.64rem
    .hero
        &__title
            width: 100%
            max-width: 330px
        &__skroll-down
            display: none
        &__content
            min-width: 22.86rem
        &__text
            font-size: 1.29rem 
            margin-bottom: 2.28rem 
            width: 100%
            max-width: 330px

        &__button
            display: block
            min-width: 22.86rem  
            margin-bottom: 1.85rem

    .section
        // background-color: $dark
        &-title
            &__text
                text-align: left
                max-width: 100%
            &__word
                display: inline
                &::after
                    display: none
            &--primary
                text-align: left
                color: $primary

        
           
        &__text
                color: $light
    

    .col
        &-50
            margin-top: 35px
            width: 100%
            
            &--order
                margin-top: 25px
                padding: 0 5%
                display: block
@media screen and (max-width:576px)
    .mob__fantasy
        display: block
    
    .project
        padding-bottom: 98rem
    .control
        margin-top: -82rem
        &__video
            min-height: 207px
            width: 340px
        &__button
            width: 100%
            order: 1
            margin-top: 62px
    .hero
        &__skroll-down
            display: none
    .bcg
        height: 100%
    .col
        &-50
            margin-top: 35px
            width: 100%
            
            &--order
                margin-top: 25px
                padding: 0 5%
                display: block
            
    .swiper
        &-wrapper
            margin-bottom: 33px
            &--none
                display: none
        &-button
            &-prev
              
        &-pagination
            &__project
                
    
            
        

    .card
        &__img
            margin-top: 150px
            &--1
                margin-top: 0
        &__sub
            margin-top: 9.5rem 
            &_wtf
                margin-top: -2.5rem

               
        &__text
            margin: -6.2rem 1.35rem
            padding: 1.57rem 1.5rem
        &__pricetag
            &--team
                max-width: 200px
    .section
        &-title
            &__text
                text-align: left
                max-width: 100%

            &__word
                display: inline
                &::after
                    display: none
            &--primary
                text-align: left
                color: $primary
        &__text
                color: $light
                
@media screen and (max-width:380px) 
    .control 
       margin-top: -87rem
       &__video
           width: 100%
    .types
        padding: 0
    .card
        &__sub
            margin: -15px
        &__img
            margin: 0
    .project
        padding-top: 0
        padding-bottom: 88rem
    .disignt
        padding-top: 13%
    .team
        padding-top: 144%
        padding-bottom: 1%
    .mob__fantasy__title
        font-size: 1.6rem


    
    
    
    
    