
*, *:bofore, *:after
    box-sizing: border-box

html
    font-size: 14px

body
    font-family: 'Futura Book', sans-serif
    font-size: 1rem
img
    max-width: 100%

.section
    padding: 60px 0
    &-title
        text-align: center
        text-transform: uppercase
        font-family: 'Yeseva One', cursive
        &__img
            display: flex
            justify-content: center
            align-items: center
            &::before, &::after
                content: ''
                margin: 0 9px

                width: 32px
                height: 2px
                background-color: $primary

    &__text
        font-size: 20px
        line-height: 27px
        text-align: center
        font-family: 'Futura Book', sans-serif
        margin: 23px 200px 39px 

                    

        

       